# üõ† IFQ718 Module 01 Exercises 02

## üîç  Context: Numeric types

Python provides multiple numeric data types, including `int` and `float`.

### `int`

One way to create `int` objects is by simply writing its value as a literal with the digits 0 to 9.

In [ ]:
1

In [ ]:
100

In [ ]:
1000

In [ ]:
type(1)

In [ ]:
type(1000)

Separating digits in numeric literals is possible using underscores `_`. This does not impact the value of the number.

In [ ]:
1_000_000

You can place them wherever you wish:

In [ ]:
1_23_456_7_89_0

However, be sure not to start your number with a leading zero. Python will not appreciate that.

In [ ]:
01

Negative integers are allowed

In [ ]:
-15

### `float`

Like `int`, a `float` object can be created by simply writing its value as a literal with the digits 0 to 9.

In [ ]:
0.5

In [ ]:
1.5

Separating the digits is possible on both sides of the decimal point

In [ ]:
1_000.000_5

In [ ]:
type(0.5)

### Numeric operators

Try using the following numeric operators:

- multiplication `*`
- division `/`
- addition `+`
- subtraction `-`
- exponentiation `**`
- modulus `%`
- floor division `//`

Try each operator on `int` then `float`:

In [ ]:
# Try multiplication here

In [ ]:
# Try division here

In [ ]:
# Try addition here

In [ ]:
# Try subtraction here

In [ ]:
# Try exponentiation here

In [ ]:
# Try modulus here

In [ ]:
# Try floor division here

### ‚úç Activity 1: mathematical formula

Some useful formulas:
    <ul>
        <li style="margin-bottom: 1.2em">distance: <span style="font-size: 1.2em">$speed . time$</span></li>
        <li style="margin-bottom: 1.2em">degrees: <span style="font-size: 1.2em">$radians \frac{360}{2\pi}$</span></li>
    </ul>

<a name="distance_travelled"></a>
<b>Distance Travelled</b>

In [ ]:
# Some Python variables
speed = 1000 # in kms/hr
time = 2 # in minutes
pi = 3.14159265359

# Using the supplied Python variables, write an expression to calculate the distance travelled in kms.
# NB: you will need to convert minutes to hours
# Answer is 33.333333333333336

<a name="debugging_arithmetic_expression"></a>
<b>Debugging Arthimetic Expression</b>

In [ ]:
# The hardest type of error to resolve is a 'semantic' error in which 
# the program gets part of the way through a calculation before something goes wrong:

# This expression is well formed, and looks like it should work, but doesn't.
(9 * 7) / ((6 + 2) - 8) 

# Before you run the code, try to determine what the issue is.
# Then evaluate the expression, and read the error message.


<a name="debugging_formula"></a>
<b>Debugging Formula</b>

In [ ]:
# Given a temperature in Fahrenheit, you can determine the equivalent temperature
# in Celsius by finding 5/9 of: the Fahrenheit value minus 32

# The following code attempts to reflect that formula.  
# However the answer should be 100.  What is wrong with the Python code?
# Modify the code in order to rectify the calculation.

fahrenheit = 212

celsius = fahrenheit - 32 * 5 / 9

# now display the variable
celsius

### ‚úç Activity 2: Algebraic Expressions

We will set variable x to the value 3 for the following examples
(but the expressions will be written the same regardless of the value of variable x)

In [ ]:
x = 3

Write Python expressions for each of the following algebraic expressions:

<a name="5x^3"></a>
$5x^3$

In [ ]:
# insert answer here
# the result should be 135

<a name="4x^2+7x^3-9x+5"></a>
$4x^2 + 7x^3 - 9x + 5$

In [ ]:
# insert answer here
# the result should be 203

<b>Calculate the area of a triangle</b>

In [ ]:
height = 3.5
base = 7.1

# insert answer here
# the result should be 12.424999999999999

<b>Calculate the volume of a cylinder</b>

In [ ]:
radius = 2
height = 3.4

# insert answer here
# the result should be 42.725660088821186

### ‚úç Activity 3: Numeric Types

In [ ]:
# The following are expressions of different types. 
# Look at each expression and without executing the code, decide what Python type it will evaluate to.
# Once you have made a decision on each expression, check your answer.

type(24 / 8)
# what type will it be?

In [ ]:
type(2 * 8)
# what type will it be?

In [ ]:
type(3+0j)
# what type will it be?

In [ ]:
type(3 * (4 + 5.0))
# what type will it be?

In [ ]:
# Finally, consider this expression where logically
# the left hand side of the comparison operator
# has the same value as the right hand side.
# Explain why then the expression evaluates to False.
# 
(0.1 * 6) / 0.1 == 6

# WRITE YOUR EXPLANATION HERE - as a comment
# The value 0.1 cannot be represented precisely as a binary number using a finite number of bits. 
# The value actually used is 0.100000001490116119384765625 so when we multiply it by 6 we get 0.6000000000000001 
# and then dividing by 0.1 gives 6.000000000000001 which is not the same as 6.0