# üõ† IFQ718 Module 07 Exercises 02

## üîç  Context: Combining frames

This notebook will use the Sakila dataset, as provided by MySQL under the [New BSD licence](https://dev.mysql.com/doc/sakila/en/sakila-license.html).

In [ ]:
import pandas as pd

### ‚úç Activity 1: load the data

The Sakila dataset is spread across many CSV files, all available in `data/sakila-csv`. We will only work with a few of them:
* `film.csv`
* `inventory.csv`
* `customer.csv`
* `rental.csv`

Load each CSV file as a separate DataFrame.

In [ ]:
# Write your code here
df_film = 
df_inventory = 
df_customer = 
df_rental =

Write about each frame here:
 1. 
 2. 
 3.  
 4.

### ‚úç Activity 2: merge the inventory and films frames together

You may have noticed that the frames extensively use identifier fields. 

For example, the `inventory` frame contains `film_id`, which is a column of integers. 
Each number in this column refers to a record in the `film` frame. 

Your activity, here, is to join the frames where the two film IDs match.

Read the Pandas reference [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html), for merging frames.

Produce a frame that has the following columns: `inventory_id`, `film_id`, `title`, `description`

In [ ]:
# Write your code here

### ‚úç Activity 3: using your frame from activity 2, merge the rental frame

Your previous frame should contain `inventory_id`. You may have noticed that the `rental` frame also contains this column.

The `inventory_id` column in the `rental` frame keeps a record of which exact copy of a film was rented to a particular customer. i.e., *customer John rented copy #5 of the movie Sharks*.

Your new frame should have the following columns: `inventory_id`, `film_id`, `title`, `description`, `customer_id`

In [ ]:
# Write your code here

### ‚úç Activity 4: using your frame from activity 3, merge the customer frame

Your previous frame should contain `customer_id`. You may have noticed that the `customer` frame also contains this column.

The `customer_id` column in the `rental` frame keeps a record of which customer rented a particular copy of a film. i.e., *customer John rented copy #5 of the movie Sharks*.

Your new frame should have the following columns: `inventory_id`, `film_id`, `title`, `description`, `first_name`, `last_name`

In [ ]:
# Write your code here

### ‚úç Activity 5: merge the `first_name` and `last_name` columns by concatenating them with a space

Remove the old customer name columns.

In [ ]:
# Write your code here

### ‚úç Activity 6: how many films has each customer rented?

In [ ]:
# Write your code here

## Extra reading

Users who are familiar with SQL but new to pandas might be interested in [a comparison with SQL](https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html#compare-with-sql-join).