# üõ† IFQ718 Module 03 Exercises-01

## üîç  Context: Lists

In previous modules, you have been introduced to various atomic data types (including `int`, `float`, `string`, `boolean`), but we have not yet introduced you to any data types that can containerise many instances of these atomic types. 

Refering to a previously used example: *the height of a tree*. We previously used a variable to specify the height of one tree. What if you have recorded the heights of a forest of trees? Would you create many variables, like `height_of_tree_1`, `height_of_tree_2`, `height_of_tree_3`, ... `height_of_tree_n`? You could... but you shouldn't. This would be considered poor practice. What if you needed to add an extra record for the height of a tree that you missed? 

Here is an example of the approach that you should avoid:

```python

# a very small forest, heights in meters
height_of_tree_1 = 12.0
height_of_tree_2 = 13.4
height_of_tree_3 = 11.7
height_of_tree_4 = 8.9
height_of_tree_5 = 10.2

total_height = (height_of_tree_1 + height_of_tree_2 + height_of_tree_3 + height_of_tree_4 + height_of_tree_5)
number_of_trees = 5
average_height = total_height / number_of_trees

print(f'The average tree height in the forest is {average_height} m.')
```

Wow. That was a lot of work.

Let me show you how I could rewrite this using a list. Importantly, **a list is composed of many comma-separated items, collectively surrounded by square brackets:**

```python

# a list of heights of trees, in meters
heights_of_trees = [12.0, 13.4, 11.7, 8.9, 10.2]

# The in-built `sum()` function will sum all items in the list together
total_height = sum(heights_of_trees)

# The in-built `len()` function will count how many items there are in the list
number_of_trees = len(heights_of_trees)

average_height = total_height / number_of_trees

print(f'The average tree height in the forest is {average_height} m.')
```

This is satisfying to read. Now, I can add and remove tree heights without having to update how `total_height` is calculated, nor do I have to update `number_of_trees`. Both are automatically calculated using functions that can operate on a list of items.

Take note that a list may also be empty,

```python
heights_of_trees = []
```

or, may only contain one item

```python
heights_of_trees = [12.0]
```

or, contain items of different types

```python
uncommon_list_of_items = [12.0, 5, True, "Hello there", False]

```

Run the examples below

In [ ]:
type(12.0)

In [ ]:
type([12.0])

In [ ]:
type([])

In [ ]:
type([12, True, "Nice"])

In [ ]:
sum([1, 2, 3, 4, 5])

### Lists are iterable objects

An *iterable object* is one that can be broken down into smaller pieces. You may have already discovered that `string` is an iterable object, as we can loop through the string by visiting one character at a time:

In [ ]:
message = "Hello, World!"

for character in message:
    print(f"`character` is currently: {character}")

Conveniently, the `for` loop allows us to visit each item in an iterable object very easily.

We can repeat this for `list`, too, as it is also an iterable object:

In [ ]:
heights_of_trees = [12.0, 13.4, 11.7, 8.9, 10.2]

for height_of_tree in heights_of_trees:
    print(f'There is a tree {height_of_tree} m tall.')

What if the list contained strings?

In [ ]:
messages = ["Hello, World!", "How are you?", "What are you doing today?", "Have a great day."]

for message in messages:
    print(f'The message says: {message}')

Have you noticed that I am using plurals when naming the variable that contains a list? To a programmer, the plural suggests that the variable contains any number (0 or more) of items within the context of the variable name. 

As another example, if you reviewed some code that contained the variable `people`, what would this suggest? 

How about `pet_names`, or `ages`? 

This one is trickier: `loyalty_points`? What are your thoughts?

Okay, enough on that. Let's take a look at how else we could iterate through a list; by exchanging the `for` loop for a `while` loop:

In [ ]:
heights_of_trees = [12.0, 13.4, 11.7, 8.9, 10.2]

tree_idx = 0

while tree_idx < len(heights_of_trees):
    print(f'The tree in position {tree_idx} is {heights_of_trees[tree_idx]} m tall.')
    
    tree_idx += 1

This syntax is probably new to you: `heights_of_trees[tree_idx]`. What does it mean?

Given that `heights_of_trees` is an iterable object, we can access individual items via their *index position*. Importantly, indexes in Python, and in many other programming languages, start at zero. 

Interestingly, negative index values can also be used.

To access the first item of the list, we would use the syntax `heights_of_trees[0]`.

In [ ]:
people = ["Maria", "Clara", "Sam", "Peta", "Ajay"]

print(f'The first person is {people[0]}')

print(f'The second person is {people[1]}')

print(f'The last person is {people[-1]}')

print(f'The second last person is {people[-2]}')

### Revisiting `range()`

In a previous notebook, we showed you that `range(start, stop, step)` includes the `start` value but excludes the `stop` value:

In [ ]:
for i in range(0, 10, 1):
    print(f'The value of i is {i}')
    
print('---')
    
for j in range(0, 10, 2):
    print(f'The value of j is {j}')

This becomes particularly useful when "looping" through iterable objects. i.e., combining the use of `range()` and `len()`.

Reminder that `len()`, produces the *human readable length*. i.e., if you can manually count five items in the list, then `len()` will provide `5`:

In [ ]:
heights_of_trees = [12.0, 13.4, 11.7, 8.9, 10.2]

print(f'The function `len(heights_of_trees)` says there are {len(heights_of_trees)} items in the list.')

for tree_idx in range(0, len(heights_of_trees)):
    print(f'There is a tree {heights_of_trees[tree_idx]} m tall.')

Which previous example does this remind you of? 

<span style="color: #ccc">Answer: the previous example where 'for' was swapped for 'while'</span>

What would happen if `range()` did not exclude the `stop` value? Let's try it out using our own implementation of `range()`.

In [ ]:
def my_range(start, stop, step=1):
    values = []
    
    while start <= stop:
        values.append(start)
        start += step
        
    return values

for idx in my_range(0, 10):
    print(idx)

Okay, `my_range()` is including the `stop` value. Also, I have used a new function that you probably don't know: `.append()`!

The `append()` function will add a new item to the end of the specified list.

Let's finish the example:

In [ ]:
heights_of_trees = [12.0, 13.4, 11.7, 8.9, 10.2]

for tree_idx in my_range(0, len(heights_of_trees)):
    print(f'The tree at position {tree_idx} is: ', end='')
    print(f'{heights_of_trees[tree_idx]} m tall.')

Oh dear, we have hit a `list index out of range` error. That is because there is no tree at index position five.

Importantly: there are five tree heights in the list, but Python starts counting from zero, meaning the trees are in position zero, one, two, three and four.

Let's try accessing characters of a string using `range()`:

In [ ]:
people = ["Maria", "Clara", "Sam", "Peta", "Ajay"]

for person in people:
    for character_idx in range(len(person)):
        print(f'The character in position {character_idx} of {person} is: `{person[character_idx]}`')
    print('---')

### Revisiting `string`

**and learning `.split()` and `.join()`**

As you have probably gathered, `string` is somewhat like a list of characters. We can perform some more string-based operations that are useful.

Try out `.split()`:

In [ ]:
sentence = 'The quick brown fox jumps over the lazy dog'

# separate the sentence into a list by splitting on any whitespace character
words = sentence.split(' ')

print(f'There are {len(words)} words in the sentence, they are: {words}')

Back to tree heights...

In [ ]:
heights_of_trees_string = '12.0,13.4,11.7,8.9,10.2'

heights_of_trees = heights_of_trees_string.split('.')

print(f'Is this correct? {heights_of_trees}')

**My example is incorrect - please fix it.** What is the [*delimiter*](https://en.wikipedia.org/wiki/Delimiter)?

However, when the string of numbers is split, the items created in the "explosion" remain to be strings. In the following example, we convert them to `int`:

In [ ]:
ages = "32|28|45|19"
ages = ages.split('|')

for age_idx in range(len(ages)):
    print(f'The age in position {age_idx} is of type {type(ages[age_idx])}.')
    ages[age_idx] = int(ages[age_idx])
    print(f'    After updating, it is of type {type(ages[age_idx])}.')

Now, glue a set of words back together:

In [ ]:
message = ["H", "e", "l", "l", "o", ",", " ", "W", "o", "r", "l", "d", "!"]
print(''.join(message))
print(' '.join(message))
print('-'.join(message))

### Checking an item is in a list

The Python `in` operator will return `True` or `False` if an item exists in a list.

Be careful not to confuse `in` as a membership test versus `in` as a looping operator. 
i.e., there is an important difference between `'Apple' in fruits` versus `for fruit in fruits`.

In [ ]:
people = ["Maria", "Clara", "Sam", "Peta", "Ajay"]

if "Sam" in people:
    print('Yes, Sam is in the list')

In [ ]:
people = ["Maria", "Clara", "Sam", "Peta", "Ajay"]

if "Ayush" not in people:
    print('Correct, Ayush is not in the list')

In [ ]:
if "a" in "Sam":
    print("Sam does contain the letter `a`")

### ‚úç Activity 1: Filling lists

We wish to fill a list to contain the first 100 square numbers: `[0, 1, 2, 4, 9, 16, 25 ...]`

It's too long to create manually, so we want to write a loop to create the list.

**Why does the following code not work?**

In [ ]:
list = []
for i in range(100) :
    list[i] = i * i
print(list)

**Rewrite the above code to incrementally append each element to the list, one by one**

In [ ]:
# insert your code here

**Rewrite the above code to create a list of size 100 where each element is 0**

In [ ]:
# insert your code here

**Rewrite your code to compute the first 100 square numbers, but this time first create a list of 100 elements that all have the value `None`**


**And then update the elements to their correct value inside the loop**

In [ ]:
# insert your code here

### ‚úç Activity 2: Find the maximum value in a list

Write a function that, given a list of numeric values, returns the maximum value in that list.

You must not use the built-in function `max`, but rather, iterate over the list of values to find the biggest one.

In [ ]:
def find_maximum(list) :

    # write your code here

    return largest

In [ ]:
# test your function ...
find_maximum([3, 4, 2]) # should be 4

In [ ]:
find_maximum([23, 44, 200, 3021, 7891]) # should be 7891

In [ ]:
find_maximum([11, 11, 11, 11, 11, 11, 11]) # should be 11

In [ ]:
find_maximum([7]) # should be 7

In [ ]:
find_maximum([3, 5, -77, 9]) # should be 9

In [ ]:
find_maximum([3, 3.5, 7.12376, 1.119]) # should be 7.12376

In [ ]:
find_maximum([]) # should raise a ValueError

### ‚úç Activity 3: Out of range

Write a Python predicate (a function that returns a Boolean value) that expects a list of numeric values, a lower bound and an upper bound, and returns True if there are any values in the list outside the range of the upper and lower bounds, otherwise returns False.

Use a FOR loop, and a RETURN statement to exit the loop early to short-circuit the iteration where appropriate.

In [ ]:
def out_of_range(list, lower_bound, upper_bound):
    
    # write your code here
    
    return #...

In [ ]:
out_of_range([1, 9, 1, 9, 9, 5, 7, 7, 4], 0, 10) # should be False

In [ ]:
out_of_range([0.1, 9.9999999, 1, 0.9, 9, 5, 7, 7, 4], 0, 10) # should be False

In [ ]:
out_of_range([4, 8, 10, 23, 28, 66, 69, 77, 100], 1, 100) # should be False

In [ ]:
out_of_range([4, 8, 10, 23, 0, 28, 66, 69, 77, 100], 1, 100) # should be True

In [ ]:
out_of_range([], 1, 100) # should be False

### ‚úç Activity 4: Filter Out of Range

Modify your solution to the previous exercise so that, rather than finding out if there are any values in the list outside the range of the upper and lower bounds, returning a new list of those numbers, if any.

In [ ]:
def filter_out_of_range(list, lower_bound, upper_bound):
    
    # write your code here
    
    return #...

In [ ]:
filter_out_of_range([1, 9, 1, 9, 9, 5, 7, 7, 4], 0, 10) # Test 1
# should be []

In [ ]:
filter_out_of_range([0.1, 9.9999999, 1, 0.9, 9, 5, 7, 7, 4], 2, 4) 
# should return [0.1, 9.9999999, 1, 0.9, 9, 5, 7, 7]

In [ ]:
filter_out_of_range([4, 8, 10, 23, 28, 66, 69, 77, 100], 1, 50) # Test 3
# should return [66, 69, 77, 100]

In [ ]:
filter_out_of_range([4, 8, 10, 23, 0, 28, 66, 69, 77, 100], 1, 100) # Test 4
# should return [0]

In [ ]:
filter_out_of_range([], 1, 100) # Test 5 - empty list
# should be []

### ‚úç Activity 5: In Range?

Write a Python predicate (a function that returns a Boolean value) that expects a list of numeric values, a lower bound and an upper bound, and returns True if ALL values in the list are inside the range of the upper and lower bounds, otherwise returns False.

Use a FOR loop, and exit the loop early to short-circuit the iteration where appropriate.

In [ ]:
def in_range_a(list, lower_bound, upper_bound):
    
    
    # write your code here
    
    return #...

In [ ]:
in_range_a([1, 9, 1, 9, 9, 5, 7, 7, 4], 0, 10) # should be True

In [ ]:
in_range_a([7], 7, 7) # should be True

In [ ]:
in_range_a([1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7], 1, 7) # should be False

In [ ]:
in_range_a([4, 8, 10, 23, 0, 28, 66, 69, 77, 100], 1, 100) # should be False

In [ ]:
in_range_a([], 0, 10) # should be True

### ‚úç Activity 6: Map Sum

Given a list of lists each containing numeric values, write a function to return a new one-dimensional list containing the sum of the values in each of the sublists.

Hint:
* use the function sum to add up all numbers in a list

In [ ]:
def map_sum(list):
    
    # write your function here
    
    return #...

In [ ]:
map_sum([[1, 3, 5]]) # Test 1 - single sublist
# should return [9]

In [ ]:
map_sum([[1, 3, 5], [2, 4, 6, 8]]) # Test 2 - two sublists
# should return [9, 20]

In [ ]:
map_sum([[1, 3, 5], [2, 4, 6, 8], [0], [9], [1]]) # Test 3 - many sublists
# should return [9, 20, 0, 9, 1]

In [ ]:
map_sum([[]]) # Test 4 - empty sublist
# should return [0]