# üõ† IFQ718 Module 05 Exercises 02

## üîç  Context: Tabular data with Pandas


This will be our first notebook on the Pandas section of IFQ718. 

> pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with ‚Äúrelational‚Äù or ‚Äúlabeled‚Äù data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real-world data analysis in Python. Additionally, it has the broader goal of becoming the most powerful and flexible open source data analysis/manipulation tool available in any language. It is already well on its way toward this goal.
>
> Source: [Pandas reference manual](https://pandas.pydata.org/docs/getting_started/overview.htmlV)

Pandas provides many convenient functions to apply to highly structured data. Your learnings of the Python Standard Libraries are going to be greatly complemented by the functionality of Pandas. You may quickly discover that the tasks you have been working on using vanilla Python can be achieved with less code when using Pandas. This is because the work of many open source [contributors](https://github.com/pandas-dev/pandas/graphs/contributors) has resulted in a fantastic tool that saves you time.

## Tabular data with Python

In module 3, we tasked you with converting a CSV file to a table-like data structure in Python, specifically, a dictionary, where

* the dictionary keys were the column labels of the table
* the dictionary values were lists, containing the values of the table columns

<pre>
sepal_length,sepal_width,petal_length,petal_width,species
4.4,3.0,1.3,0.2,setosa
5.1,3.4,1.5,0.2,setosa
5.0,3.5,1.3,0.3,setosa
4.5,2.3,1.3,0.3,setosa
4.4,3.2,1.3,0.2,setosa
5.8,2.6,4.0,1.2,versicolor
5.0,2.3,3.3,1.0,versicolor
5.6,2.7,4.2,1.3,versicolor
5.7,3.0,4.2,1.2,versicolor
5.7,2.9,4.2,1.3,versicolor
6.3,3.3,6.0,2.5,virginica
6.8,3.2,5.9,2.3,virginica
6.7,3.3,5.7,2.5,virginica
6.7,3.0,5.2,2.3,virginica
6.3,2.5,5.0,1.9,virginica
</pre>

Your dictionary had the following structure:

```python
iris_dataset = {
    'sepal_length' : [4.4, 5.1, 5.0, 4.5, 4.4, 5.8, 5.0, 5.6, 5.7, 5.7, 6.3, 6.8, 6.7, 6.7, 6.3],
    'sepal_width' : [3.0, 3.4, 3.5, 2.3, 3.2, 2.6, 2.3, 2.7, 3.0, 2.9, 3.3, 3.2, 3.3, 3.0, 2.5],
    'petal_length' : [1.3, 1.5, 1.3, 1.3, 1.3, 4.0, 3.3, 4.2, 4.2, 4.2, 6.0, 5.9, 5.7, 5.2, 5.0],
    'petal_width' : [0.2, 0.2, 0.3, 0.3, 0.2, 1.2, 1.0, 1.3, 1.2, 1.3, 2.5, 2.3, 2.5, 2.3, 1.9],
    'species' : [
            'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'versicolor', 
            'versicolor', 'versicolor', 'versicolor', 'versicolor', 'virginica', 
            'virginica', 'virginica', 'virginica', 'virginica'
    ]
}
```

This structure was used with purpose - as a lead up to this exact notebook, where we will use this table-like structure to create a Pandas `DataFrame`. But first, let's discuss one more representation of this data, using a list of dictionaries:

```python
iris_dataset = [
    { 'septal_length' : 4.4, 'sepal_width' : 3.0, 'petal_length' : 1.3, 'petal_width' : 0.2, 'species' : 'setosa' },
    { 'septal_length' : 5.1, 'sepal_width' : 3.4, 'petal_length' : 1.5, 'petal_width' : 0.2, 'species' : 'setosa' },
    { 'septal_length' : 5.0, 'sepal_width' : 3.5, 'petal_length' : 1.3, 'petal_width' : 0.3, 'species' : 'setosa' },
    { 'septal_length' : 4.5, 'sepal_width' : 2.3, 'petal_length' : 1.3, 'petal_width' : 0.3, 'species' : 'setosa' },
    { 'septal_length' : 4.4, 'sepal_width' : 3.2, 'petal_length' : 1.3, 'petal_width' : 0.2, 'species' : 'setosa' },
    { 'septal_length' : 5.8, 'sepal_width' : 2.6, 'petal_length' : 4.0, 'petal_width' : 1.2, 'species' : 'versicolor' },
    { 'septal_length' : 5.0, 'sepal_width' : 2.3, 'petal_length' : 3.3, 'petal_width' : 1.0, 'species' : 'versicolor' },
    { 'septal_length' : 5.6, 'sepal_width' : 2.7, 'petal_length' : 4.2, 'petal_width' : 1.3, 'species' : 'versicolor' },
    { 'septal_length' : 5.7, 'sepal_width' : 3.0, 'petal_length' : 4.2, 'petal_width' : 1.2, 'species' : 'versicolor' },
    { 'septal_length' : 5.7, 'sepal_width' : 2.9, 'petal_length' : 4.2, 'petal_width' : 1.3, 'species' : 'versicolor' },
    { 'septal_length' : 6.3, 'sepal_width' : 3.3, 'petal_length' : 6.0, 'petal_width' : 2.5, 'species' : 'virginica' },
    { 'septal_length' : 6.8, 'sepal_width' : 3.2, 'petal_length' : 5.9, 'petal_width' : 2.3, 'species' : 'virginica' },
    { 'septal_length' : 6.7, 'sepal_width' : 3.3, 'petal_length' : 5.7, 'petal_width' : 2.5, 'species' : 'virginica' },
    { 'septal_length' : 6.7, 'sepal_width' : 3.0, 'petal_length' : 5.2, 'petal_width' : 2.3, 'species' : 'virginica' },
    { 'septal_length' : 6.3, 'sepal_width' : 2.5, 'petal_length' : 5.0, 'petal_width' : 1.9, 'species' : 'virginica' }   
]
```

Using this structure, we are using the top-level structure (the outer-most `list`) to encapsulate rows, each represented by a dictionary. 

**Let's now begin with Pandas.**

The convention is to import pandas with an alias of `pd`:

In [ ]:
import pandas as pd

and, to name the `DataFrame` as `df` or if multiple DataFrame's exist, prefix them with `df_`:

In [ ]:
df = pd.DataFrame()
print(df)

Okay, we have created an empty DataFrame. This is not particularly insightful, so let's use the data structures from above.

The structure used in this example is called *list orientation* (dictionary of lists):

In [ ]:
iris_dataset = {
    'sepal_length' : [4.4, 5.1, 5.0, 4.5, 4.4, 5.8, 5.0, 5.6, 5.7, 5.7, 6.3, 6.8, 6.7, 6.7, 6.3],
    'sepal_width' : [3.0, 3.4, 3.5, 2.3, 3.2, 2.6, 2.3, 2.7, 3.0, 2.9, 3.3, 3.2, 3.3, 3.0, 2.5],
    'petal_length' : [1.3, 1.5, 1.3, 1.3, 1.3, 4.0, 3.3, 4.2, 4.2, 4.2, 6.0, 5.9, 5.7, 5.2, 5.0],
    'petal_width' : [0.2, 0.2, 0.3, 0.3, 0.2, 1.2, 1.0, 1.3, 1.2, 1.3, 2.5, 2.3, 2.5, 2.3, 1.9],
    'species' : [
            'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'versicolor', 
            'versicolor', 'versicolor', 'versicolor', 'versicolor', 'virginica', 
            'virginica', 'virginica', 'virginica', 'virginica'
    ]
}

df = pd.DataFrame(iris_dataset)
print(df)

Great! Notice that when a DataFrame is printed, the columns and rows and printed much nicer than if we were to print the `iris_dataset` itself.

In [ ]:
print(iris_dataset)

Now, by using *records orientation* (list of dictionaries)

In [ ]:
iris_dataset = [
    { 'septal_length' : 4.4, 'sepal_width' : 3.0, 'petal_length' : 1.3, 'petal_width' : 0.2, 'species' : 'setosa' },
    { 'septal_length' : 5.1, 'sepal_width' : 3.4, 'petal_length' : 1.5, 'petal_width' : 0.2, 'species' : 'setosa' },
    { 'septal_length' : 5.0, 'sepal_width' : 3.5, 'petal_length' : 1.3, 'petal_width' : 0.3, 'species' : 'setosa' },
    { 'septal_length' : 4.5, 'sepal_width' : 2.3, 'petal_length' : 1.3, 'petal_width' : 0.3, 'species' : 'setosa' },
    { 'septal_length' : 4.4, 'sepal_width' : 3.2, 'petal_length' : 1.3, 'petal_width' : 0.2, 'species' : 'setosa' },
    { 'septal_length' : 5.8, 'sepal_width' : 2.6, 'petal_length' : 4.0, 'petal_width' : 1.2, 'species' : 'versicolor' },
    { 'septal_length' : 5.0, 'sepal_width' : 2.3, 'petal_length' : 3.3, 'petal_width' : 1.0, 'species' : 'versicolor' },
    { 'septal_length' : 5.6, 'sepal_width' : 2.7, 'petal_length' : 4.2, 'petal_width' : 1.3, 'species' : 'versicolor' },
    { 'septal_length' : 5.7, 'sepal_width' : 3.0, 'petal_length' : 4.2, 'petal_width' : 1.2, 'species' : 'versicolor' },
    { 'septal_length' : 5.7, 'sepal_width' : 2.9, 'petal_length' : 4.2, 'petal_width' : 1.3, 'species' : 'versicolor' },
    { 'septal_length' : 6.3, 'sepal_width' : 3.3, 'petal_length' : 6.0, 'petal_width' : 2.5, 'species' : 'virginica' },
    { 'septal_length' : 6.8, 'sepal_width' : 3.2, 'petal_length' : 5.9, 'petal_width' : 2.3, 'species' : 'virginica' },
    { 'septal_length' : 6.7, 'sepal_width' : 3.3, 'petal_length' : 5.7, 'petal_width' : 2.5, 'species' : 'virginica' },
    { 'septal_length' : 6.7, 'sepal_width' : 3.0, 'petal_length' : 5.2, 'petal_width' : 2.3, 'species' : 'virginica' },
    { 'septal_length' : 6.3, 'sepal_width' : 2.5, 'petal_length' : 5.0, 'petal_width' : 1.9, 'species' : 'virginica' }   
]

df = pd.DataFrame(iris_dataset)

print(df)

The same result! Great.

However, there are some differences when using these two approaches.

**List orientation *versus* records orientation**

For *list orientation* (dictionary of lists):
* All lists must be of equal length. Otherwise, an error will be thrown.

For *records orientation* (list of dictionaries):
* Not all "rows" need to contain the same set of columns. If a row is a missing a value for a column, it will be automatically filled with a missing field indicator.

Run the following examples to see what happens:

In [ ]:
# Data from https://en.wikipedia.org/wiki/State_of_Origin_series#Interstate_&_International
state_of_origin_international_interstate_venues = [
   {'Venue': 'Melbourne Cricket Ground (MCG)', 'City': 'Melbourne', 'State': 'Victoria', 'Country': 'Australia', 'No. of games': 5, 'Highest crowd': 91513, 'Lowest crowd': 25105 },
   {'Venue': 'Docklands Stadium', 'City': 'Melbourne', 'State': 'Victoria', 'Country': 'Australia', 'No. of games': 3, 'Highest crowd': 56021, 'Lowest crowd': 50967 },
   {'Venue': 'Optus Stadium', 'City': 'Perth', 'State': 'Western Australia', 'Country': 'Australia', 'No. of games': 2, 'Highest crowd': 59721, 'Lowest crowd': 59358 },
    
   # the next three records are missing `Lowest crowd`
   {'Venue': 'Olympic Park Stadium', 'City': 'Melbourne', 'State': 'Victoria', 'Country': 'Australia', 'No. of games': 1, 'Highest crowd': 25800 },
   {'Venue': 'Veterans Memorial Stadium', 'City': 'Long Beach', 'State': 'California', 'Country': 'United States', 'No. of games': 1, 'Highest crowd': 12439 },
   {'Venue': 'Adelaide Oval', 'City': 'Adelaide', 'State': 'South Australia', 'Country': 'Australia', 'No. of games': 1, 'Highest crowd': 25218 }
]

df = pd.DataFrame(state_of_origin_international_interstate_venues)

print(df)

Again, but using *list orientation*:

In [ ]:
state_of_origin_international_interstate_venues = {
    'Venue': ['Melbourne Cricket Ground (MCG)', 'Docklands Stadium', 'Optus Stadium', 'Olympic Park Stadium', 'Veterans Memorial Stadium', 'Adelaide Oval'],
    'City': ['Melbourne', 'Melbourne', 'Perth', 'Melbourne', 'Long Beach', 'Adelaide'],
    'State': ['Victoria', 'Victoria', 'Western Australia', 'Victoria', 'California', 'South Australia'],
    'Country': ['Australia', 'Australia', 'Australia', 'Australia', 'United States', 'Australia'],
    'No. of games': [5, 3, 2, 1, 1, 1],
    'Highest crowd': [91513, 56021, 59721, 25800, 12439, 25218],
    
    # this list is too short
    'Lowest crowd': [25105, 50967, 59358]
}

df = pd.DataFrame(state_of_origin_international_interstate_venues)

print(df)

To fix this, we can fill the shorter list with `None`:

In [ ]:
state_of_origin_international_interstate_venues = {
    'Venue': ['Melbourne Cricket Ground (MCG)', 'Docklands Stadium', 'Optus Stadium', 'Olympic Park Stadium', 'Veterans Memorial Stadium', 'Adelaide Oval'],
    'City': ['Melbourne', 'Melbourne', 'Perth', 'Melbourne', 'Long Beach', 'Adelaide'],
    'State': ['Victoria', 'Victoria', 'Western Australia', 'Victoria', 'California', 'South Australia'],
    'Country': ['Australia', 'Australia', 'Australia', 'Australia', 'United States', 'Australia'],
    'No. of games': [5, 3, 2, 1, 1, 1],
    'Highest crowd': [91513, 56021, 59721, 25800, 12439, 25218],
    
    # filled with None
    'Lowest crowd': [25105, 50967, 59358, None, None, None]
}

df = pd.DataFrame(state_of_origin_international_interstate_venues)

print(df)

## Importing data using the Pandas `pd.read_` functions

Pandas supports many methods of initialising a DataFrame with data. Using the search query `read_` in the reference manual found [54 results](https://pandas.pydata.org/docs/search.html?q=read_) for me. The first twenty are particularly interesting:

```
pandas.read_clipboard
pandas.read_csv
pandas.read_excel
pandas.read_feather
pandas.read_fwf
pandas.read_gbq
pandas.read_hdf
pandas.read_html
pandas.read_json
pandas.read_orc
pandas.read_parquet
pandas.read_pickle
pandas.read_sas
pandas.read_spss
pandas.read_sql
pandas.read_sql_query
pandas.read_sql_table
pandas.read_stata
pandas.read_table
pandas.read_xml
```

We will discuss `read_csv`, `read_html` and `read_json`. Once you have understood the concept of a few, the rest should come naturally.

**Importing CSV data as a Panda DataFrame**

The `read_csv` function can read from many sources and interpret various character delimited formats. The arguments of `read_csv` are:
* `filepath`: the location of the CSV file. This can be a local file, a HTTP address, [FTP](https://en.wikipedia.org/wiki/File_Transfer_Protocol) address or from a storage bucket like [AWS S3](https://en.wikipedia.org/wiki/Amazon_S3)
* `sep`: the separator (delimiter) to split the fields

In [ ]:
df = pd.read_csv('https://gist.githubusercontent.com/jaidevd/23aef12e9bf56c618c41/raw/c05e98672b8d52fa0cb94aad80f75eb78342e5d4/books_new.csv')

Given we have loaded a CSV from the internet, let's first inspect the DataFrame:

In [ ]:
# What are the column labels?
print(df.columns)

In [ ]:
# How many rows and columns?
print(df.shape)

In [ ]:
# Print the first ten records
print(df.head(10))

In [ ]:
# Print the last ten records
print(df.tail(10))

**Importing a table from a webpage as a Panda DataFrame**

The `read_html` function can interpret the webpage of any website, when given a HTTP URL. If there exists many tables on the page, then every table will be converted to a DataFrame. A list of DataFrame's will be provided in this case.

In [ ]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_cities_in_Australia_by_population')

print(f'Read the Wikipedia article "List of cities in Australia by population"')

print(f'Found {len(dfs)} tables on the page.')

for df in dfs:
    print(df.shape)

In [ ]:
# At the time of writing, the first table is "Greater capital city statistical areas by population"
df = dfs[0]

print(df.head(10))

**Importing JSON data as a Pandas DataFrame**

Let's import the AFL 2022 data. It is JSON formatted.

In [ ]:
df = pd.read_json('https://fixturedownload.com/feed/json/afl-2022')

print(df)

### ‚úç Activity 1: load the entire iris dataset

You have already seen the iris dataset throughout the unit, but we have usually worked with just a subset of the full dataset.

Using this URL, load the data into a DataFrame: https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv

* How did you know which `read_` function to use?
* What columns does it contain?
* How many records?

In [ ]:
# Write your code here

In [ ]:
# Write a few sentences here

### ‚úç Activity 2: tell us about the Taxi's dataset

Load the dataset from: https://raw.githubusercontent.com/mwaskom/seaborn-data/master/taxis.csv

* How did you know which `read_` function to use?
* What columns does it contain?
* How many records?

In [ ]:
# Write your code here

In [ ]:
# Write a few sentences here

## Exporting data with the Pandas `pd.to_` functions

Like the `read_` functions, there exist a set of functions to exporting DataFrame's to other formats. 

For each `read_` function, there is an associated `to_` function.

Some formats will also export the *index* of the DataFrame (more about indexes later). 
By default, the index is the record number (row number).
Perhaps, you do not want to export the index. 
To avoid exporting the index, set `index=False` within the `.to_` function.

The first positional argument of the `to_` functions is the filepath to write to. If you have already opened a file handler (using `open()`) then you  can also pass this directly into the function:


**Exporting as CSV**

```python
with open('export.csv', 'w') as fp:
    df.to_csv(fp)
```

or 

```python
df.to_csv('export.csv')
```

In [ ]:
# We will use the Australian cities table from Wikipedia again

dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_cities_in_Australia_by_population')

# At the time of writing, the first table is "Greater capital city statistical areas by population"
df = dfs[0]

In [ ]:
# with the index
print(df.to_csv())

In [ ]:
print(df.to_csv(index=False))

Can you see the difference?

### ‚úç Activity 3: write the Australian cities table as a CSV to file

In [ ]:
# Write your code here

**Exporting as JSON**

In [ ]:
print(df.to_json())

### ‚úç Activity 4: write the Australian cities table as JSON to file

In [ ]:
# Write your code here

**Exporting as Markdown**

In [ ]:
# the output from this may line-wrap. If it does, temporarily zoom out (CTRL and 'minus' -)
print(df.to_markdown(index=False))

### ‚úç Activity 5: export the DataFrame as a native Python data structure

**Export using `.to_dict`**

The function `.to_dict()` will export a DataFrame into a Python data structure. 

There exist many *orientations*. We have already mentioned *list orientation* and *records orientation*. Check out the orientations [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_dict.html).

In the cells below, export the Australian cities DataFrame in various structures. Make use of the `type()` function to observe the output.

In [ ]:
# Write code to export as `dict` orientation

In [ ]:
# Write code to export as `list` orientation

In [ ]:
# Write code to export as `records` orientation

### ‚úç Activity 6: update the column names

The `columns` attribute of a DataFrame can be updated:
    
```python
df.columns = [x.lower() for x in df.columns]
```

or 

```python
df.columns = ['Column one', 'Column two', ...]
```

Update the columns of the Australian cities DataFrame to shorter names.

In [ ]:
# Write your code here