# üõ† IFQ718 Module 05 Exercises 03

## üîç  Context: Restricting rows and columns

Now that we have explored importing and exporting data using Pandas, let's look at manipulating the structure of the DataFrame by restricting rows and columns.

In [ ]:
import pandas as pd

### ‚úç Activity 1: Import the miles per gallon (MPG) dataset

Use the following URL: https://raw.githubusercontent.com/mwaskom/seaborn-data/master/mpg.csv

In [ ]:
# Write your code here

### Restricting columns

Particular columns of a DataFrame can be selected by specifying their names using square bracket notation.

```python
print(df['column name'])
```

Multiple columns can be selected using a nested list, within the square brackets.

```python
print(df[['column name', 'some other column']])
```

Let's use the penguins dataset as an example:

In [ ]:
df_penguins = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv')

In [ ]:
# take ten random records then display as a Markdown table
print(df_penguins.sample(n=10).to_markdown(index=False))

In [ ]:
# select only the `species` column
print(df_penguins['species'])

In [ ]:
# select only the `species` and `sex` columns
print(df_penguins[['species', 'sex']])

### ‚úç Activity 2: extract the `name` and `origin` columns from the MPG dataset

In [ ]:
# Write your code here

### Restricting rows

Now that subsetting DataFrame's by column is known, let's look at restricting in the other direction... by rows.

We can use expressions that evaluate to True or False to achieve this:

```python
adults = df[df['age'] >= 18]
```

In [ ]:
df_penguins[df_penguins['species'] == 'Adelie']

We can also filter by multiple columns, using the *and* `&` and *or* `|` operators:

Be sure to wrap each expression in its own set of parentheses!

In [ ]:
df_penguins[(df_penguins['species'] == 'Adelie') & (df['sex'] == 'FEMALE')]

### ‚úç Activity 3: what does the follow code snippet do?

Try writing your response to this question using plain English that is structured Python-like code. This technique is called writing *pseudocode*.

In [ ]:
df_penguins[((df_penguins['species'] == 'Adelie') & (df['sex'] == 'FEMALE')) | ((df_penguins['island'] == 'Dream') & (df_penguins['sex'] == 'MALE'))]

In [ ]:
# Write your pseudocode here

### ‚úç Activity 4: for the MPG dataset, restrict the `origin` of the vehicle to only `japan` or `europe`

In [ ]:
# Write your pseudocode here

### ‚úç Activity 5: restricting rows using `.isin()`

The example code snippet, below, uses the `isin` function to filter rows. Rewrite using boolean logic, as per the previous activity.

In [ ]:
df_penguins[df_penguins['species'].isin(['Adelie', 'Chinstrap'])]

In [ ]:
# Write your code here

### ‚úç Activity 6: repeat activity 4 but using `isin`

In [ ]:
# Write your pseudocode here

### ‚úç Activity 7: for the penguins dataset, remove rows where the `sex` field is NaN

using the `.notna()` function on the `sex` column

In [ ]:
# Write your code here

### ‚úç Activity 8: for the MPG dataset, keep rows where the `horsepower` column is NaN. Remove all others

hint: use `.isna()`

In [ ]:
# Write your code here

### ‚úç Activity 9: Restricting rows and columns

Slicing a DataFrame by rows and columns is not achieved via the square bracket notation. 

You must use the `.loc` operator:

In [ ]:
df_penguins.loc[df_penguins['body_mass_g'] <= 3000, ['species', 'sex', 'body_mass_g']]

Generate a DataFrame from the MPG dataset, with:
* only the columns `horsepower` and `name`
* if the `origin` is `usa`

In [ ]:
# Write your code here